Adafruit-Blinka==4.9.0
adafruit-circuitpython-dht==3.4.1
Adafruit-PlatformDetect==2.11.1
Adafruit-PureIO==1.1.5
certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
influxdb==5.3.0
msgpack==0.6.1
pyftdi==0.51.2
pyserial==3.4
python-dateutil==2.8.1
pytz==2020.1
pyusb==1.0.2
requests==2.23.0
six==1.14.0
sysv-ipc==1.0.1
urllib3==1.25.9
